{% extends 'main.html' %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <br>
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card card-body">        
                <h5 class="d-flex justify-content-center">Cadastrar Paciente</h5>       
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-primary" type="submit" name="Submit">
                    <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
                </form>
            </div>
        </div>
        
    </div>


</div>
<!-- /.container-fluid -->

{% endblock %}
